<html>

<head>
	<title>Change Password</title>
	<script src={{ url_for('static', filename='js/changePassword.js' ) }}></script>
	<link rel="stylesheet" href={{ url_for('static', filename='css/login.css' ) }} />
	<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css' ) }} />
	<link rel="icon" href="{{ url_for('static',  filename='images/logo.png') }}" type="image/png" />
</head>

<body style="background-image: url(/static/images/imformation.jpg) ">
	<div id="title">
		<a href="/">
			<img id="logo" src={{ url_for('static', filename='images/logo.png' )}} />
		</a>
	
		<form action="/searchItem" method="POST" target="_blank">
			<input id="searchBox" type="text" name="searchQuery">
			<input id="searchButton" type="submit" value="Search">
		</form>
	
		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, <br>{{firstName}}</button>
			<div class="dropdown-content">
				{% if usertype == 'admin' %}
					<a href="/admin">Admin</a>
				{% endif %}
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
	
		<div id="kart">
			<a class="link" href="/cart">
				<img src={{url_for('static', filename='images/shoppingCart.png' )}} id="cartIcon" />
				CART {{noOfItems}}
			</a>
		</div>
	
	</div>
	<form action="/account/profile/changePassword" method="POST">

		<body style="overflow: hidden; margin: 0; padding: 0;">
			<div class="front">
				<input type="password" class="ipt okeyword" placeholder="Old Password" name="oldpassword">
				<input type="password" class="ipt nkeyword" placeholder="New Password" name="newpassword"
					id="newpassword">
				<input type="password" class="ipt ckeyword" placeholder="Confirm Password" name="cpassword"
					id="cpassword">
				<p><input type="submit" class="submit" value="Save"></p>
				<p>{{ msg }}</p>
				<a href="{{ url_for('profileHome') }}">Register here</a>
			</div>
		</body>
	</form>
</body>

</html>